
<div class="container">
  <div class="page-header">
    <h1>First, Where is your current location?</h1>
  </div>

  <%= form_tag current_location_path do %>
    <div class="form-group">
      <%= label_tag :location %>
      <%= text_field_tag :location, "", class: "form-control", placeholder: "Your Current Location" %>
    </div>

    <div class="form-group">
      <%= submit_tag "Find you a pizza", class: "btn-lg btn btn-primary" %>
    </div>
  <% end %>
</div>
